# Dependency directories
node_modules/

# Environment configuration
.env

# Build output
dist/

# Logs
*.log
npm-debug.log*
yarn-error.log

# Operating System Files
.DS_Store
Thumbs.db

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional directories created by popular Visual Studio Code extensions
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Local development
local/
tmp/
